In [1]:
import pandas as pd # pandas is a library and it is related to database and we can work it on excel things and pd is a short form of pandas using "as" keyword

In [2]:
dataset = pd.read_csv("Salary_Data.csv") #Already imported excel in local can call using "read_csv" function

In [3]:
dataset #It will show the output of excel sheet

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [8]:
independent = dataset[["YearsExperience"]] #Input as indepedent
dependent = dataset[["Salary"]] #output as dependent
independent

    YearsExperience
0               1.1
1               1.3
2               1.5
3               2.0
4               2.2
5               2.9
6               3.0
7               3.2
8               3.2
9               3.7
10              3.9
11              4.0
12              4.0
13              4.1
14              4.5
15              4.9
16              5.1
17              5.3
18              5.9
19              6.0
20              6.8
21              7.1
22              7.9
23              8.2
24              8.7
25              9.0
26              9.5
27              9.6
28             10.3
29             10.5

In [7]:
dependent

      Salary
0    39343.0
1    46205.0
2    37731.0
3    43525.0
4    39891.0
5    56642.0
6    60150.0
7    54445.0
8    64445.0
9    57189.0
10   63218.0
11   55794.0
12   56957.0
13   57081.0
14   61111.0
15   67938.0
16   66029.0
17   83088.0
18   81363.0
19   93940.0
20   91738.0
21   98273.0
22  101302.0
23  113812.0
24  109431.0
25  105582.0
26  116969.0
27  112635.0
28  122391.0
29  121872.0

In [13]:
from sklearn.model_selection import train_test_split #Machine learning algorithm provider is sklearn,they have "n" number of libraries (contains classes and functions)(For avoiding memory storage,We fetched particular class and function over here)
X_train,X_test,Y_train,Y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0) #we splited train and test dataset.

In [14]:
X_train,X_test,Y_train,Y_test

(    YearsExperience
 22              7.9
 5               2.9
 16              5.1
 8               3.2
 14              4.5
 23              8.2
 20              6.8
 1               1.3
 29             10.5
 6               3.0
 4               2.2
 18              5.9
 19              6.0
 9               3.7
 7               3.2
 25              9.0
 3               2.0
 0               1.1
 21              7.1
 15              4.9
 12              4.0,
     YearsExperience
 2               1.5
 28             10.3
 13              4.1
 10              3.9
 26              9.5
 24              8.7
 27              9.6
 11              4.0
 17              5.3,
       Salary
 22  101302.0
 5    56642.0
 16   66029.0
 8    64445.0
 14   61111.0
 23  113812.0
 20   91738.0
 1    46205.0
 29  121872.0
 6    60150.0
 4    39891.0
 18   81363.0
 19   93940.0
 9    57189.0
 7    54445.0
 25  105582.0
 3    43525.0
 0    39343.0
 21   98273.0
 15   67938.0
 12   56957.0,
       Salary
 2    37731.0
 28  122391.0
 13   57081.0
 10   63218.0
 26  116969.0
 24  109431.0
 27  112635.0
 11   55794.0
 17   83088.0)

In [26]:
from sklearn.linear_model import LinearRegression 
regressor=LinearRegression()
regressor.fit(X_train,Y_train)

LinearRegression()

In [21]:
weight = regressor.coef_ # coffecient of weight known as slope,constant distance
bias=regressor.intercept_ # minimun value,starting of the line
weight,bias

(array([[9360.26128619]]), array([26777.3913412]))

In [24]:
Y_pred = regressor.predict(X_test)
Y_pred

array([[ 40817.78327049],
       [123188.08258899],
       [ 65154.46261459],
       [ 63282.41035735],
       [115699.87356004],
       [108211.66453108],
       [116635.89968866],
       [ 64218.43648597],
       [ 76386.77615802]])

In [30]:
from sklearn.metrics import r2_score #libraries of evaluating parameters
r_score = r2_score(Y_test,Y_pred) #We give actual output,predicted value.r2_score function act as a parameterized function
r_score  #result is nearly 1,so it is better performance model

0.9740993407213511

In [32]:
#libraries of read and write the excel
import pickle
filename="FinalizedModel_For_SalaryPrediction.sav" #should save as .sav format and need to assign variable.
pickle.dump(regressor,open(filename,"wb")) #wb is write binary and it will dump the regressor model in above file.

In [39]:
loaded_model=pickle.load(open("FinalizedModel_For_SalaryPrediction.sav","rb")) #rb is read-binary 
result = loaded_model.predict([[30]])
result

C:\Users\nravi378\AppData\Local\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[307585.22992701]])